{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- uncomment code for absolute positioning tweek see top comment in css -->
                <div class="absolute-wrapper"> </div>
                <!-- Menu -->

                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation" style="border: 1px solid #3071aa;border-radius: 4px;">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                {% for category in categories %}
                                    <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#dropdown-lvl1">
                                            <span class="glyphicon glyphicon-chevron-right"></span> {{ category.name }} <span class="caret"></span>
                                        </a>
                                    </li>
                                {% endfor %}


                               {# <li class="panel panel-default " id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        <span class="glyphicon glyphicon-chevron-right"></span> Clipart <span class="caret"></span>
                                    </a>
                                </li>
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        <span class="glyphicon glyphicon-chevron-right"></span> Movies <span class="caret"></span>
                                    </a>
                                </li>

                                <!-- Dropdown-->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        <span class="glyphicon glyphicon-chevron-right"></span> Jaargetijden <span class="caret"></span>
                                    </a>



                                    <!-- Dropdown level 1 -->
                                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">


                                                <!-- Dropdown level 2 -->
                                                <li class="panel panel-default" id="dropdown">
                                                    <a data-toggle="collapse" href="#dropdown-lvl2">
                                                        <span class="glyphicon glyphicon-folder-open"></span> A tm M <span class="caret"></span>
                                                    </a>
                                                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="nav navbar-nav">
                                                                <li><a href="#">Lente</a></li>
                                                                <li><a href="#">Zomer</a></li>
                                                                <li><a href="#">Herfst</a></li>
                                                                <li><a href="#">Winter</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="panel panel-default" id="dropdown">
                                                    <a data-toggle="collapse" href="#dropdown-lvl2">
                                                        <span class="glyphicon glyphicon-folder-open"></span> N tm Z <span class="caret"></span>
                                                    </a>
                                                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="nav navbar-nav">
                                                                <li><a href="#">Lente</a></li>
                                                                <li><a href="#">Zomer</a></li>
                                                                <li><a href="#">Herfst</a></li>
                                                                <li><a href="#">Winter</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>#}




                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div>
            </div>  		</div>
        <div class="col-md-10 ">
            <div class="panel  panel-primary">
                <div class="panel-heading text-center">
                    Categorieën
                </div>
                <div class="panel-body">

                    {% for category in categories %}
                        <div class="col-md-3">
                            <a href="{{ category.name }}">
                                <img src="{{ asset('uploads/' ~ category.imageName) }}" width="160px">
                            </a>
                        </div>
                    {% endfor %}

                </div>


                <nav aria-label="Page navigation">
                    <div class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>
{% endblock %}
