{% extends 'base.html.twig' %}
{% block title %}MyPhotoFrameOnline.com - Contact{% endblock %}
{% block body %}
    <h3 align="center">Contact</h3>
    <hr>
    <!-- Contact Form -->
    <div class="col-md-4 col-md-offset-4">
        {{ form_start(contact) }}
        {{ form_widget(contact) }}
        {{ form_end(contact) }}
    </div>
{% endblock %}