{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.20/fabric.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    {% for frame in frames %}

        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        <input type="file" id="imageLoader" name="imageLoader" />
                    </div>
                    <div class="pull-right"> <a href="#" id="imageSaver" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> Opslaan</a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <canvas id="imageCanvas" width="1200px" height="600px"></canvas>
                </div>
            </div>
        </div>

        <script>
            var canvas = new fabric.Canvas('imageCanvas', {
                backgroundColor: 'rgb(255,255,255)'
            });

            fabric.Image.fromURL('{{ asset('uploads/' ~ frame.imageName ) }}', function(myImg) {
                var img1 = myImg.set({ left: 350, top: 0 ,width:{{ frame.imageWidth }},height:{{ frame.imageHeight}}    });
                canvas.add(img1);
            });


            var imageLoader = document.getElementById('imageLoader');
            imageLoader.addEventListener('change', handleImage, false);

            function handleImage(e) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var img = new Image();
                    img.onload = function () {
                        var imgInstance = new fabric.Image(img, {
                            scaleX: 0.2,
                            scaleY: 0.2
                        })
                        canvas.add(imgInstance);
                    }
                    img.src = event.target.result;
                }
                reader.readAsDataURL(e.target.files[0]);
            }

            var imageSaver = document.getElementById('imageSaver');
            imageSaver.addEventListener('click', saveImage, false);

            function saveImage(e) {
                this.href = canvas.toDataURL({
                    format: 'jpeg',
                    quality: 1.0
                });
                this.download = '{{ frame.name }}.png'
            }
        </script>

    {% endfor %}

{% endblock %}
