{% extends 'adminbase.html.twig' %}

{% block body %}
    {% include 'adminsidebar.html.twig' %}
    <div class="col-md-10 ">
        <div class="panel  panel-primary">
            <div class="panel-heading text-center">
                Social Media toevoegen
            </div>
            <!-- Social Media form -->
            <div class="panel-body">
                {{ form_start(social) }}
                {{ form_widget(social) }}
                {{ form_end(social) }}
            </div>
        </div>
    </div>
{% endblock %}
